# string variable string manipulation help of inbuilt function as welll as in a customs way.

# string we have able to create by using a single coates and double coates.

In [ ]:
s= "ineuron"

In [ ]:
type(s)

# extract the string

In [ ]:
s[0]

# index always start of zero [0,1,2,3,4,5,6,7,8]
always use the square bracket [] list, string whether it is other case.

In [ ]:
s[5]

# index postive way start [0,1,2,3,4,5,6,7,8] and negative way start [-1,-2,-3,-4,-5,-6,-7,-8]

In [ ]:
s[-1]

In [ ]:
s1 = 'sudh'

In [ ]:
s1[0]

In [ ]:
s1[-1]

In [ ]:
s1[-2]

In [ ]:
'this is my very first programming class's'

In [ ]:
"this is my very first programming class's"

# index wise or backward index wise or forward index wise we are able to extract a data

In [ ]:
s2 = "this is my very first programming class's"

In [ ]:
s2

In [ ]:
s2[8]

In [ ]:
s2

# below including forward indexes [1] and bacward indexes [5]

In [ ]:
s2[1:5]

In [ ]:
s2[6:30]

In [ ]:
s2[6:30:2]

In [ ]:
s= "sudhanshu"

In [ ]:
s[0:9:2]

In [ ]:
s[0:9:1]

In [ ]:
s

In [ ]:
s[0:8:-1]

# below mention upper bound is 0

In [ ]:
s[8:0:-1]

In [ ]:
s[8:0:-2]

In [ ]:
s

# below not mention starting point

In [ ]:
s[:-3]

# below not mention any kind of a upper bound

In [ ]:
s[-2:]

# below not mention my starting point and end point

In [ ]:
s[::1]

In [ ]:
s[0:50:1]

# revrse string

In [ ]:
s[::-1]

In [ ]:
s2

In [ ]:
s2[::-1]

In [ ]:
s[8:0:-1]

In [ ]:
s

# reverse string

In [ ]:
s3 = 'ineuron'

In [ ]:
s3[::-1]

In [ ]:
s3[-2:-7:1]

# string slicing operation

In [ ]:
s3[-7:-2:1]

In [ ]:
s[5:0]

# lower bound and upper bound is a same.

In [ ]:
s3[-7:-1:1] is giving 'ineuro' but why s3[-7:0:1] is giving blank ? i mean i want to print complete.

In [ ]:
s3[-7:-1:1]

In [ ]:
out= 'ineuro'

In [ ]:
s3[-7:0:1]

In [ ]:
out = ''

In [ ]:
s[:-1:-1]

In [1]:
s

NameError: name 's' is not defined

In [2]:
s= "sudhanshu"

In [3]:
s

'sudhanshu'

In [ ]:
s3[-7:-1:1] is giving 'ineuro' but why s3[-7:0:1] is giving blank ? i mean i want to print complete.

In [11]:
s3[-7:-1:1]

NameError: name 's3' is not defined

In [12]:
s3[-7:0:1]

NameError: name 's3' is not defined

In [7]:
s[:-1:-1]

''

In [8]:
s

'sudhanshu'

# concatenation string operation

In [13]:
s

'sudhanshu'

In [14]:
s + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
s + '1'

'sudhanshu1'

In [16]:
s+"1"

'sudhanshu1'

In [17]:
s+ str(1)

'sudhanshu1'

In [18]:
"sudh" +'45634673576458745687457'

'sudh45634673576458745687457'

# length function

In [19]:
s

'sudhanshu'

In [20]:
len(s)

9

# mutiplication operation

In [21]:
s

'sudhanshu'

In [22]:
s * 2

'sudhanshusudhanshu'

In [23]:
s * 4

'sudhanshusudhanshusudhanshusudhanshu'

In [ ]:
s.count()

In [ ]:
Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

In [24]:
s.count('s')

2

In [26]:
s.count('su')

1

In [27]:
s.count('sum')

0

In [25]:
s

'sudhanshu'

In [ ]:
s.split()

In [ ]:
Signature: s.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      builtin_function_or_method

In [28]:
s.split('u')

['s', 'dhansh', '']

In [29]:
type(s.split('u'))

list

In [30]:
s.split('u')

['s', 'dhansh', '']

# triple coat is using commmentry purpose ["""  """]

In [31]:
sw =The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]

SyntaxError: invalid syntax (3715736243.py, line 1)

In [36]:
sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [33]:
sw ="The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate"

In [34]:
sw

'The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate'

In [35]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate']

In [ ]:
Signature: sw.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      builtin_function_or_method

In [37]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [38]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.\n\nNotable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 '2nd',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).[11][12]']

In [39]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

# converting upper case

In [40]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [42]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [43]:
sw = sw.upper()

In [44]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [45]:
sw.lower()

"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

# title case is every first letter is showing a upper case

In [55]:
s = "sudhanshu"

In [56]:
s.title()

'Sudhanshu'

In [48]:
s.capitalize()

'Sudhanshu'

In [57]:
s = "sudhanshu kumar"

In [58]:
s.title()

'Sudhanshu Kumar'

In [ ]:
Signature: s.title()
Docstring:
Return a version of the string where each word is titlecased.

More specifically, words start with uppercased characters and all remaining
cased characters have lower case.
Type:      builtin_function_or_method

In [59]:
s.capitalize()

'Sudhanshu kumar'

In [ ]:
Signature: s.capitalize()
Docstring:
Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.
Type:      builtin_function_or_method

# swapcase= swapcase is a lower case is showing upper and upper case is case is showing lower case

In [62]:
s = "Sudhanshu kuMAR"

In [63]:
s.swapcase()

'sUDHANSHU KUmar'

In [64]:
reversed(s)

In [65]:
''.join(reversed(s))

'RAMuk uhsnahduS'

# reversed string

In [66]:
s[::-1]

'RAMuk uhsnahduS'

# strip is using the remove the space before and after

Signature: s.strip(chars=None, /)
Docstring:
Return a copy of the string with leading and trailing whitespace removed.

If chars is given and not None, remove characters in chars instead.
Type:      builtin_function_or_method

In [67]:
s = "   sudh   "

In [68]:
s.strip()

'sudh'

In [71]:
s = "   su   dh   "

In [72]:
s.strip()

'su   dh'

In [73]:
s

'   su   dh   '

# lstrip is left side strip and rstrip is right side strip.

In [74]:
s.lstrip()

'su   dh   '

In [75]:
s.rstrip()

'   su   dh'

In [76]:
"   " . join("sudhanshu")

's   u   d   h   a   n   s   h   u'

In [77]:
"a" . join("sudhanshu")

'sauadahaaanasahau'

In [78]:
s

'   su   dh   '

In [ ]:
Signature: s.center(width, fillchar=' ', /)
Docstring:
Return a centered string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [79]:
s ="sudh"

In [80]:
s.center(20 , 'z')

'zzzzzzzzsudhzzzzzzzz'

In [81]:
s.center(20 , '#')

'########sudh########'

# bolian variable is true and false and 0 and 1

In [ ]:
Signature: s.isupper()
Docstring:
Return True if the string is an uppercase string, False otherwise.

A string is uppercase if all cased characters in the string are uppercase and
there is at least one cased character in the string.
Type:      builtin_function_or_method

In [112]:
s = "Sudhanshu"

In [113]:
s.isupper()

False

In [114]:
s1 = "SUDH"

In [115]:
s1.isupper()

True

In [91]:
s1.islower()

False

In [116]:
s2 = "sudh"

In [117]:
s2.islower()

True

In [94]:
s.isspace()

False

In [95]:
s4 = "   "

In [96]:
s4.isspace()

True

In [118]:
s

'Sudhanshu'

In [98]:
s.isdigit()

False

In [99]:
s5 = "32424"

In [100]:
s5.isdigit()

True

In [101]:
s6 = "sdf3454"

In [102]:
s6.isdigit()

False

In [119]:
s

'Sudhanshu'

In [104]:
s.isalnum()

True

In [105]:
s.isalpha()

True

In [106]:
s7 = "345345sgfdg"

In [107]:
s7.isalpha()

False

In [120]:
s

'Sudhanshu'

In [110]:
s.startswith('i')

False

In [121]:
s.startswith('s')

False

In [122]:
s.startswith("S")

True

In [123]:
s.endswith('n')

False

In [124]:
s.endswith('u')

True

In [125]:
s

'Sudhanshu'

In [126]:
s7

'345345sgfdg'

In [127]:
s

'Sudhanshu'

In [ ]:
Signature: s.isdigit()
Docstring:
Return True if the string is a digit string, False otherwise.

A string is a digit string if all characters in the string are digits and there
is at least one character in the string.
Type:      builtin_function_or_method

In [128]:
s.isdigit()

False

In [ ]:
Signature: s.isnumeric()
Docstring:
Return True if the string is a numeric string, False otherwise.

A string is numeric if all characters in the string are numeric and there is at
least one character in the string.
Type:      builtin_function_or_method

In [130]:
s.isnumeric()

False

In [131]:
s.startswith("")

True

In [ ]:
Signature: s.isascii()
Docstring:
Return True if all characters in the string are ASCII, False otherwise.

ASCII characters have code points in the range U+0000-U+007F.
Empty string is ASCII too.
Type:      builtin_function_or_method

In [132]:
s

'Sudhanshu'

In [133]:
s.isascii()

True

In [134]:
s = 'sudhanshu123  '

s.isalnum()

False

In [135]:
s ='hell lo'
s.isspace()

False

In [136]:
s =' 5 '
s.isspace()

False

In [137]:
s.center (20, '#')

'######## 5 #########'

In [139]:
s.center (20, '@')

'@@@@@@@@ 5 @@@@@@@@@'

In [140]:
s

' 5 '

In [141]:
s1 = '2456'
s1.isalnum()

True

In [142]:
s1 = '  '
s1.isalnum()

False

In [143]:
s1 = '456'
s1.isalnum()

True

In [144]:
s="this is my very first programming class"

In [145]:
s.isspace()

False

In [146]:
s = " 6   "

In [147]:
s.isspace()

False

In [148]:
s = "453443"

In [149]:
s.isdigit()

True

In [150]:
s1 = "fasfdas345346346"

In [151]:
s1.isnumeric()

False

In [152]:
s2 = "345435 3455 3453"

In [153]:
s2.isnumeric()

False

In [154]:
s.isnumeric()

True

In [155]:
s2.isdigit()

False

In [156]:
s = 56

In [157]:
s="sudh"

In [158]:
reversed(s)

In [159]:
'd'.join("ineuron")

'idndedudrdodn'

In [160]:
"".join(reversed("sudh"))

'hdus'

In [161]:
s= "453453.456"

In [162]:
s.isdigit()

False

In [163]:
s.isnumeric()

False

In [ ]:
Signature: s.expandtabs(tabsize=8)
Docstring:
Return a copy where all tab characters are expanded using spaces.

If tabsize is not given, a tab size of 8 characters is assumed.
Type:      builtin_function_or_method

In [164]:
s = 'sudhanshu\tkumar\tineuron'

In [165]:
s.expandtabs()

'sudhanshu       kumar   ineuron'

In [166]:
s="Sudhanshu"
s=reversed(s)
"".join(s)='uhsnahduS'

SyntaxError: cannot assign to function call (2254056827.py, line 3)

In [167]:
s="Sudhanshu"

"".join(reversed(s))

'uhsnahduS'

In [168]:
s="hhe\tgge\thhe"
s.expandtabs()

'hhe     gge     hhe'